.note-list-container-parent {
  position: absolute;
  top: 75px;
  left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  height: calc(100% - 75px);
  overflow: hidden;
  transition: left 0.25s ease, width 0.25s ease;
}
.note-list-filter-label {
  font-size: 15px;
  font-weight: 500;
  margin-right: 10px;
}
.note-list-header {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 10px;
}
